* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* Свойства для сброса начальных стилей элементов */
}

body {
    font-family: "Inter", sans-serif;
}

header {
    /* Стили для хедера */
    background-color: #2965f1;
    padding: 23px 0;
}

header span {
    /* Стили для текста в хедере IT-INCUBATOR */
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.main-section {
    /* Стили для первой секции */
    background-color: #fafaff;
    padding: 60px 0;
    height: 100vh;
}

.main-title {
    /* Стили для заголовка в первой секции */
    font-weight: 700;
    font-size: 48px;
    color: #303030;
    margin-bottom: 20px;
}

.main-text {
    /* Стили для текста в первой секции */
    font-weight: 400;
    font-size: 18px;
    color: #303030;
}

.main-image {
    /* Стили для изображения в первой секции */
    width: 715px;
}


.about-section {
    /* Стили для второй секции */
}

select {
    /* Стили для выпадающего списка */
}

.section-title {
    /* Стили для заголовков во второй секции */
}

.frameworks-list {
    /* Стили для маркированного списка во второй секции */
}

.books-list {
    /* Стили для нумерованного списка во второй секции */
}

.label {
    /* Стили для подписей чекбоксов */
}

.text-field {
    /* Стили для односточного поля ввода текста */
}

.btn {
    /* Стили для кнопки */
}

.line {
    /* Стили для линии */
}

table {
    /* Стили для таблицы */
}

th, td {
    /* Стили для ячеек таблицы */
}

footer {
    /* Стили для футера */
}

.footer-link {
    /* Стили для футера */
}